.crypto--page {
    background: #1b004e;
    color: white;
    padding-bottom: 5rem;
  }
  .crypto--text {
    color: var(--white, #fff);
    padding-top: 6rem;
    font-family: Poppins;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    padding-bottom: 3rem;
  }
  .coins--list{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 1.5rem;
    padding: .7rem 8rem;
  
  }
  .coins--list-heading{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 1.5rem;
    padding: .7rem 8rem;
    font-weight: 400;
    font-size: 1.5rem;
  }
  .coin--img{
    width: auto;
    height: 2.5rem;
    margin: 1rem;
  }
  .coin--description{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .coin-symbol{
    color: #ffffffc1;
    padding-left: 0.5rem;
  }

  @media screen and (max-width: 1250px) {
    .coins--list{
        margin: 1rem 1.5rem;
        padding: .7rem 9rem;
      
      }
      .coins--list-heading{
        padding: .7rem 9rem;
      }
  }
    @media screen and (max-width: 1100px) {
        .coins--list{
            margin: 1rem 1.5rem;
            padding: .7rem 9.5rem;
          
          }
          .coins--list-heading{
            padding: .7rem 9.5rem;
          }
    
  }
  @media screen and (max-width: 700px) {
 .hide-coin{
  display: none;
 }
 .crypto--page {
  background: #1b004e;
  color: white;
}
.coins--list{
  margin: 1rem 2rem;
  padding: 1rem 4rem;

}
.coins--list-heading{
  padding: 1rem 4rem;
}
.crypto--page {
  padding: 7rem 0rem;
}
}
@media screen and (min-width: 300px) and (max-width: 400px) {
  .crypto--page {
    background: #1b004e;
    color: white;
    padding-bottom: 5rem;
  }
  .crypto--text {
    padding-top: 2rem;}

}
@media screen and (min-width: 300px) and (max-width: 400px) {
  .crypto--text {
   font-size: 2rem;
  }
  .coins--list{
    margin: 1rem 2rem;
    padding: 1rem 3rem;
  }
  .coins--list-heading{
    font-size: 1rem;
  }
}