.subscribe-main{
    background-color: #1B004E;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    padding-top: 3rem;
}
.subcribe-block{
    text-align: center;
}
.subscribe-text-main{
    color: white;
    padding-top: 6rem;
    font-family: Poppins;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    padding-bottom: 1rem;
}
.subscribe-text{
    font-family: Poppins;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}
@media screen and (max-width: 700px) {
    .subscribe-text-main{
        padding-top: 10rem;
        font-size: 2rem;

    }
    .subscribe-text{
        font-size: 1.5rem;
    }
    .button {
      display: block;
    }
  }
  @media screen and (max-width: 600px) {
    .subscribe-text-main{
        padding-top: 8rem;

    }
    .hide-image{
        display: none;
    }
    .subscribe-text{
        font-size: 1rem;
        padding-bottom: 1.2rem;
    }
    .subscribe-block{
        text-align: center;
        padding-bottom: 2rem;
        margin: 0 auto;
    }
    .button-subsribe{
        text-align: center;
        display: flex;
        justify-items: center;
        margin-bottom: 3rem;
        margin-left: 3rem;
  
    }
  }
  @media screen and (max-width: 500) {
    .subscribe-main{
        padding-top: 1.5rem;
    }
    .subscribe-text-main{
        padding-top: 3rem;
    }
  }