* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  overflow-y: scroll;
  font-size: 62.5%;
}
ul {
  margin: 0;
  padding: 0;
}
.hero--Section {
  background: linear-gradient(197deg, #4e0062 0%, #220076 100%);
  height: 80vh;
}

/* Navigation */
.cryptus--logo {
  display: flex;
  flex-direction: row;
  margin-top: -1rem;
  padding-right: 6rem;
  color: white;
  text-decoration: none;
}
.logo-text {
  padding-top: 1.2rem;
  padding-left: -6rem;
  font-family: Poppins;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 100% */
  text-transform: uppercase;
}
.navbar--main {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-right: 1rem;
  text-decoration: none;
}
.nav--lists li {
  color: white;
  float: left;
  display: inline;
  font-size: 1.2rem;
  padding: 0 2.7rem 0 2.7rem;
  margin-top: 3.5rem;
  font-family: "Nunito Sans", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}
.nav--list {
  color: white;
  text-decoration: none;
}
li {
  color: white;
  color: #fff;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 141.176% */
}
li:a {
  text-decoration: none;
  color: white;
}
li .active {
  color: white;
}

/* Button */
.button {
  border: 0.15rem solid #eb5757;
  border-radius: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
  font-family: "Nunito Sans", sans-serif;
  margin-top: -2rem;
  width: 11rem;
  cursor: pointer;
}
.button:a {
  border: 0.15rem solid #eb5757;
  border-radius: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
  font-family: "Nunito Sans", sans-serif;
  margin-top: -2rem;
  width: 11rem;
  cursor: pointer;
}
.btn-primary {
  margin-left: 3rem;
}
.btn-secondary {
  background: #eb5757;
  color: white;
  width: 13rem;
  margin-top: 3rem;
}
.btn {
  background: transparent;
}
.btn:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.btn-tertiary {
  /* background: linear-gradient(197deg, #220076 0%, #4E0062 100%); */
  background: linear-gradient(to left, #220076, #4e0062);
  color: white;
  padding: 10px 20px;
  border: 1px;
  margin-top: 1rem;
  border-radius: 1.5rem;
  cursor: pointer;
  width: 20rem;
  margin-bottom: 1.5rem;
}

/* Hero */
.hero--content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.hero--text {
  margin-top: 9rem;
  color: white;
}
.hero--text--main {
  font-family: Poppins;
  font-size: 6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.hero--text p {
  font-family: Inter;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.8rem; /* 164.706% */
}
.login--page {
  background: linear-gradient(197deg, #220076 0%, #4e0062 100%);
  height: 100vh;
  padding-top: 12rem;
  padding-left: 23rem;
}
.login--page--form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
  padding-top: 0rem;
  background-color: white;
  border: 2px solid #902da8;
  border-radius: 3rem;
  height: 85%;
  width: 80%;
  box-shadow: 10px 10px 20px #35103f;
  backdrop-filter: blur(10px);
}
.login--page--form p {
  font-family: Inter;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.8rem; /* 164.706% */
}
.login--page--form .login--text {
  text-align: center;
  padding-top: -19rem;
  font-size: 2.5rem;
  font-family: Inter;
  font-weight: 600;
  line-height: 2.8rem;
  text-transform: uppercase;
  background: linear-gradient(to left, #220076 0%, #4e0062 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.input-field {
  width: 30rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid black;
  border-radius: 20px;
  outline: none;
}
.form--submit {
  text-align: center;
}
.form--submit p {
  font-size: 1.2rem;
}
.form--submit .page-nav-text{
  /* text-decoration: none; */
  color: black;
}
.crypto--page {
  background: #1b004e;
  height: 100vh;
  color: white;
}
.crypto--text {
  color: var(--white, #fff);
  padding-top: 6rem;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  padding-bottom: 3rem;
}
.coins--list{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 1.5rem;
  padding: .7rem 8rem;

}
.coins--list-heading{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 1.5rem;
  padding: .7rem 8rem;
  font-weight: 400;
  font-size: 1.5rem;
}
.coin--img{
  width: auto;
  height: 2.5rem;
  margin: 1rem;
}
.coin--description{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.coin-symbol{
  color: #ffffffc1;
  padding-left: 0.5rem;
}
.aboutus--main{
  height: 63vh;
}
.aboutus--main--text{
  color: black;
  padding-top: 6rem;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  padding-bottom: 3rem;
}
.about-us-list{
  display: flex;
  padding: 2rem 20rem; 
  justify-content: space-between;
}
.about-us-list p{
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px; /* 100% */
  padding-top: 1rem;
}
.about-us-list h3{
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px; /* 58.333% */
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.phone-section{
  background: #1b004e;
  padding: 10rem 10rem;
  display: flex;
  justify-content: space-around;
}
.phone--text{
  color: #fff;
}
.phone--text h3{
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.phone--text p{
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 164.706% */
  padding-bottom: 5rem;
}
.phone--btn :first-child{
  padding-right: 3rem;
}