.trending-block, .trending-block li{
    color: black;
    font-family: Poppins;
  }
.trending--main--text{
    color: black;
    padding-top: 6rem;
    font-family: Poppins;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    padding-bottom: 3rem;
  }
.trending-coins-all{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 3rem;
}
.trending-coins-all li{
    list-style: none;
    padding: 2rem 3rem;
}
  .trending-img{
    height: 8rem;
    width: 8rem;
  }
.trending-name{
    font-size: 2rem;
}
.trending-p{
    font-size: 1.3rem;
    font-weight: 500;
}